{% extends "layout.html" %}

{% block content %}


<div class="col-sm-1">
</div>
<div class="col-sm-10">
    <div class="row">

        <h2>{{ title }}</h2>
        <p>Enter the start and end date you choose, to analyze the database.</p>
        <p>Please make sure that your chosen dates are between 2019-01 and 2019-10</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for message in messages %}
        <h4 style="color:red">{{ message[1] }}</h4>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <br />
    </div>
    <div class="row">

        <form method=post>
            {{ form.csrf }}
            {{ form.csrf_token }}
            <table>
                <tr>
                    <td>
                        {{ form.sdate.label }}
                    </td>
                    <td>
                        {{ form.sdate }}
                    </td>
                    <td>
                        {% if form.sdate.errors %}
                        <ul class="text-danger">{% for error in form.sdate.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form.edate.label }}
                    </td>
                    <td>
                        {{ form.edate }}
                    </td>
                    <td>
                        {% if form.edate.errors %}
                        <ul class="text-danger">{% for error in form.edate.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="input submit"> <input type="submit" value="Caculate"> </td>
                </tr>
            </table>
        </form>
    </div>
    <br /><br /><br /><br />
    <div class="row">
        <table>
            <tr>
                <td>
                    <img src={{ chart }} alt='Graph image'>
                </td>
                <td>
                    {{ raw_data_table | safe}}
                </td>
            </tr>
        </table>
    </div>
    <br /><br /><br />
</div>
<div class="col-sm-1">
</div>


        {% endblock %}


