{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<h4>
    עבודה היא הבסיס לחיים של בני האדם, היא משפיעה על איך כל החיים שלך
    יראו. אם לא תהיה לך עבודה אז לא תוכל להתפרנס, ואם לא תוכל להתפרנס
    אתה תהיה עני ותתקשה לחיות חיים עם רמת איכות מספקת. בכל העולם
    אנשים מחפשים עבודות כדי לפרנס את עצמם ואת משפחתם, ולכל עבודה יש
    את הקריטריונים והדרישות של מקום העבודה מהעובדים. יש עבודות
    שמיועדות לנשים וכאלה לגברים, יש עבודות שמצריכות השכלה מלאה וחלק
    מצריכות השכלה חלקית. במאגר שאני חקרתי קיימים כל הקריטריונים הללו
    כמובן, אבל הקריטריון שתפס את עיני במיוחד הוא הקריטריון של הדת. מאוד
    עניין אותי לדעת האם קיימת אפליה של מקומות העבודה כלפי דתות מסוימות.
</h4>

<a href="{{ url_for('dataset1') }}">DataSet1</a>


{% endblock %}
