{% extends "layout.html" %}

{% block content %}

<div 
     class="jumbotron"
    <h1>My website</h1>
    <p class="lead">diffrence of people wanted for jobs by religion/Erel Jeanne</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About the project</h2>
        <p>
            In my school "Tichonet" we belive that computer sceince is the proffesion of the
            future. One of the skills we learned is data sceince, in which you analyze a certain
            data set to discover new facts about the topic you are studying. Are project was to
            find one or more data sets and analyze them and build an internet page, so we
            could learn something new from the data set.
        </p>
        <img class="contain" align="center" src="/static/photos/program.jpg" alt='Missing' width="250" height="200">
    </div>
    <div class="col-md-4">
        <h2>About my data set</h2>
        <p>
            I chose a data set that describes the anount of people wanted for jobs based
            on religion, you can see a further explanation<a href="{{ url_for('data') }}"> here</a>
            I took my data set from the website <a href="https://www.data.gov.il/">data.gov.il</a> which holds all the govermental
            data sets of Israel.
        </p>
        <img class="contain" align="center" src="/static/photos/s,u,.jpg" alt='Missing' width="250" height="100">
    </div>
</div>    
{% endblock %}
